

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {background-color:whitesmoke;
}

h1 {margin:40px;
text-align:center;
padding-right:120px;
padding-left:120px;
padding-top:20px;
padding-bottom:20px;
background-color:peachpuff;
font-family:geneva;
text-transform:uppercase;
letter-spacing:.4em;
font-size:18px;
color:dimgray;
}

h2 {font-family:geneva;
padding-right:40px;
padding-left:40px;
padding-bottom:10px;
padding-top:10px;
float:left;
color:dimgray;
letter-spacing:.2em;
font-size:14px;
}

ul li {padding-top:10px;
padding-left:40px;
font-family:georgia;
font-size:12px;
}

p {padding-top:10px;
padding-left:40px;
font-family:georgia;
font-size:12px;
line-height:1.4em;
display:block;
width:500px;
}

#shavedice1 { float:right;
margin: 20px;
position:absolute;
top:80px;
left:1141px;
right:20px;
width:400px;
height:500px;
}

#shavedice2 {float:right;
margin: 20px;
position:absolute;
top:80px;
left:870px;
right:20px;
width:250px;
height:150px;
}
#shavedice3 {float:right;
margin: 20px;
position:absolute;
top:252px;
left:870px;
right:20px;
width:250px;
height:150px;
}

#shavedice4 {float:right;
margin: 20px;
position:absolute;
top:430px;
left:870px;
right:20px;
width:250px;
height:150px;