

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */


body { width:100%;
margin:0 auto;
font-family:helvetica;
display:block;
}

#site-wrapper {background-color:beige;
}

header { position:relative;
background-color:beige;
height:200px;
width:960px;
margin:0 auto;
}

header h1 { position: absolute;
top:50px;
bottom:50px;
background-color:beige;
}

#site-header h1 a {height: 200px;
width: 1000px;
display: block;
background: url(images/logo.png) no-repeat top left;
text-indent: -9999px;
 }

header nav { position:absolute;
right:0;
background-color:beige;
}

nav ul li a{
 	color: white;
 	font-size: 12pt;
 	list-style:none;}

#menu-wrapper { background-color:saddlebrown;
height:60px;

}

#main-menu { position:relative
height:50px;
width:960px;
background-color:saddlebrown;
margin:0 auto;
}


#main-menu li { position:relative;
right:0;
background-color:saddlebrown;
padding:10px;
margin:10px;
float:left;
list-style:none;
}

#content-wrapper {
width: 968px;
height: 580px;
background-color: white;
margin-left: auto;
margin-right: auto;
margin-top:30px;
}

#footer-wrapper { clear:both;
background-color:saddlebrown;
padding-top:30px;
height:60px;
}

#site-footer {
width: 960px;
margin-left: auto;
margin-right: auto
}

#footer-contact {
width:175px;
}

#footer-follow { width:100px;
float:right;
}

#page { float:left;
width:60%;
background-color:white;
}

#page h1 { padding-bottom:4px;
color:saddlebrown;
font-size:25px;
text-transform:uppercase;
font-weight:bold;
}

#page h2 { padding-top:4px;
padding-bottom:4px;
color:saddlebrown;
font-size:15px;
text-transform:uppercase;
font-weight:bold;
}

#page p { font-size:12px;
line-height:1.5em;

}

#side-bar { 
float:left;
width:30%;
background-color:white;
}

#sidebar h1 {
font-size:15px;
text-transform:uppercase;
padding-bottom:10px;
color:saddlebrown;
}

#sidebar a {float: right;
width: 300px;
line-height: 1.2;
}

